################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/TBBConsole
/ch01/x64
/ch02/x64
/ch03/x64
/ch04/x64
/ch05/.vs/ch05
/ch05/x64
/ch06/x64
/ch07/x64
/ch10/x64
/ch11/x64
/ch12/x64
/ch13/x64
/ch14/x64
/ch15/x64
/ch16/x64
/ch17/x64
/ch18/x64
/ch19/x64
/ch20/x64
/x64
